.socialicon{
    width: 60px;
    height: 60px;
    margin: 10px 0px;
    border-radius: 50%;
}

.socialicon:first-child{
    margin-left: 100px;
}

.socialicons{
    display: flex;
}

.socialicon:hover{
    color: #ffee10;
    box-shadow: 0 0 30px hsl(32, 98%, 56%);
    background-color: hsl(32, 98%, 56%);
}