.aboutd{
    border-radius: 10%;
    width: 500px;
    height: 550px;


    background-image: url(/assets/me-coding.jpeg);
    background-position: 50%;
    background-size:cover;
    background-repeat: no-repeat;
    box-shadow: -10px 10px 5px #495371;

    position: absolute;
    top: 10vh;
    left: 0;
    z-index: 0;
}

.colored{
    height: 100vh;
    background: rgb(73,83,113);
    background: linear-gradient(180deg, rgba(73,83,113,1) 2%, rgba(116,149,154,1) 10%); 
}

.title{
    font-size: 24px;
}

.duocontent{
    display: flex;
    position: relative;
    justify-content:flex-end;
}

.about-me-to-animate{
    z-index: 1;
    margin-top: 5%;
    text-align: justify;
    width: 60%;
    height: 400px;
    background-color: rgba(19, 15, 13, 0.8);
    padding: 30px;
    border-radius: 50px 10px;
    margin-bottom: 25px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

    /* animation */



}

.about-me-to-animate {
    opacity: 0;
    transition: 1s;
    transform:translate3d(0, -70px, 0);
}
.animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}